/* Tailwind base (Preflight) */
@layer base {
  * { margin: 0; padding: 0; box-sizing: border-box; }
  html { line-height: 1.5; }
 
}

/* Tailwind components (usually empty) */
@layer components {
}

/* Tailwind utilities (thousands of classes) */
@layer utilities {
  .text-center { text-align: center; }
  .text-xl { font-size: 1.25rem; line-height: 1.75rem; }
  .bg-blue-500 { background-color: rgb(59 130 246); }
  .flex { display: flex; }
 
}